/* Navbar shadow (top shadow) */
.shadow-navbar {
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15);
}

[data-bs-theme="dark"] .shadow-navbar {
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.35);
}

/* Footer shadow (bottom shadow) */
.shadow-footer {
    box-shadow: 0 -0.75rem 1rem rgba(0, 0, 0, 0.10);
}

[data-bs-theme="dark"] .shadow-footer {
    box-shadow: 0 -0.75rem 1rem rgba(0, 0, 0, 0.25);
}