<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('main.dashboard') }}">BookTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link active fw-semibold" aria-current="page"
                    href="{{ url_for('main.dashboard') }}">Dashboard</a>
                <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
                <a class="nav-link" href="{{ url_for('main.library') }}">Library</a>
                <a class="nav-link" href="{{ url_for('main.community') }}">Community</a>
                <a class="nav-link" href="{{ url_for('main.statistics') }}">Statistics</a>
                <a class="nav-link" href="{{ url_for('main.logout') }}">Sign Out</a>
            </div>
        </div>
    </div>
</nav>